VITE_SUPABASE_URL=https://gkiltrjzagoihucgxnox.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdraWx0cmp6YWdvaWh1Y2d4bm94Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc2Mjc0MjUsImV4cCI6MjA4MzIwMzQyNX0.x0Xfs6lTlniE1_-RMKtOnxpp8CR2xvwFovXy42DxIC0